body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*Hero Section Start Here*/

.flex-added{
   display: flex;
}
.half-width{
    width: 45%;
    padding-left:8%
}
.hero-child-one{
  margin-top: 5%;
}
.hero-child-one h1{
    font-size: 50px;
    color: rgba(15, 15, 15, 0.788);
    font-weight: 800;
}
span{
    color:#FF7F50;
}
.global-link-style{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
 
}
.global-button-style{
    padding:23px 50px;
    margin-top: 5%;
    border-radius: 53px;
    border: none;
    background-image: linear-gradient(45deg,orange,tomato);
}

.hero-child-two img{
    width: 95%;
}


/* Category Section Start Here */

.category-content h1{
    font-size: 50px;
    margin-left: 60px;
 }
 .category-content p{
     margin-left: 40px;
     line-height:10px;
     
  }
  .category-content{
     padding-bottom: 30px;
  }
 
 .category-items{
      display:flex;
      margin-bottom: 40px;
 
 }
 
 .single-items{
     border-radius: 15px;
     box-shadow: 1px 4px 18px 10px rgba(102,102,102,0.2);
     width:10%;
     margin-left: 4%;
     padding:1%;
 }
 .single-items h1{
     text-align:center;
 }
 .item-two img{
     margin-left: 22%;
 }

/*About Section Start Here*/

.about-section{
    margin-top: 5%;
    margin-bottom:5%;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-images {
    margin-top:4%;
    
}
.about-images img{
    width: 62%;
    height: 100%;
    margin-left: 25%;
}

.about-content{
    margin-top: 10%;
}
.about-content{
    padding-right: 9%;
}
.about-content h1{
  font-size: 40px;
  color: rgba(16, 17, 17, 0.664);
}

/*recipes Section Start Here*/

.recipies-content h1{
    text-align: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.637);
}
.recipies-content p{
    line-height:10px;
    text-align: center;
}

.recipies-area{
    margin-top: 5%;
    margin-bottom: 5%;
}
.recipies-item {
border-radius: 20px;
box-shadow: 1px 4px 18px 10px rgba(102,102,102,0.2);
}
.recipies-item img{
    padding: 8px;
    width: 95%;
}
.recipies-item h1,p{
  padding-left: 20px;
}

.recipies-item1{
    margin-left: 6%;
}
.recipies-item2{
    margin-left: 3%;
}
.recipies-item3{
    margin-left: 3%;
    margin-right: 6%;
}


/*Counter Section Start Here*/


.counter{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 8%;
    padding: 2%;
    border-radius:10px;
    box-shadow: 1px 4px 18px 10px rgba(102,102,102,0.2);
    
}
.counter-sections{
padding-left: 9%;
padding-right: 5%;
}
.counter-sections h1{
 text-align: center;
 font-size: 40px;
}
.counter-sections p{
    margin-top:-30px;
}

/*Footer Section Start Here*/

footer{
    background-color:rgba(31, 38, 39, 0.897);
    padding-top:5px;
    padding-bottom:8%;
}

#footer-section h1{
    text-align:center;
    color: rgba(255, 255, 255, 0.712);
}
#footer-section p{
    text-align:center;
    color: rgba(255, 255, 255, 0.712);
}

footer h1 span{
    padding-right: 10px;
}

/* Note: When I'm add #footer-section h1,p{ } this  way. Then full pages p tag are blank.. So I'm use this way: #footer-section p and  #footer-section h1 . If you give me suggestion please mail me: shofiurbd13@gmail.com */

/* delivery section start here */

.delivery-section{
  background-color: #FEF3EC;
  padding-top:10px;
  padding-bottom:10px;
}

.delivery-content{
    margin-bottom: 6%;
    margin-top: 6%;
    text-align: center;
    line-height: 10px;
}

.delivery-content h1{
    font-size: 50px;
    padding-bottom: 20px;
}



.delivery{
    display:flex;
    margin-bottom: 6%;
}
.delivery-feature{
    border-radius:10px;
    box-shadow: 1px 4px 18px 10px rgba(102,102,102,0.2);
    margin-left: 5.5%;
    text-align: center;
    line-height: 10px;
padding-right: 8px;
padding-bottom:5%;
}
.delivery-feature img{
    margin-left: 15%;
    margin-top: 15%;
}
.delivery-feature h3{
 text-align: center;
 padding-bottom:5%;
}



