body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.flex-added{
   display: flex;
}
.half-width{
    width: 45%;
    padding-left:8%
}
.hero-child-one{
  margin-top: 5%;
}
.hero-child-one h1{
    font-size: 50px;
    color: rgba(15, 15, 15, 0.788);
    font-weight: 800;
}
span{
    color:#FF7F50;
}
.global-link-style{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
 
}
.global-button-style{
    padding:23px 50px;
    margin-top: 5%;
    border-radius: 53px;
    border: none;
    background-image: linear-gradient(45deg,orange,tomato);
}

.hero-child-two img{
    width: 95%;
}
.about-section{
    margin-top: 5%;
    margin-bottom:5%;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-images {
    margin-top:4%;
    
}
.about-images img{
    width: 62%;
    height: 100%;
    margin-left: 25%;
}

.about-content{
    margin-top: 10%;
}
.about-content{
    padding-right: 9%;
}
.about-content h1{
  font-size: 40px;
  color: rgba(16, 17, 17, 0.664);
}

.recipies-content h1{
    text-align: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.637);
}
.recipies-content p{
    line-height:10px;
    text-align: center;
}

.recipies-area{
    margin-top: 5%;
    margin-bottom: 5%;
}
.recipies-item {
border-radius: 20px;
box-shadow: 1px 4px 18px 10px rgba(102,102,102,0.2);
}
.recipies-item img{
    padding: 8px;
    width: 95%;
}
.recipies-item h1,p{
  padding-left: 20px;
}

.recipies-item1{
    margin-left: 6%;
}
.recipies-item2{
    margin-left: 3%;
}
.recipies-item3{
    margin-left: 3%;
    margin-right: 6%;
}
